
$sidebar-text: 18px;

$navbar-item: 30px;

h1 {
    font-size: 30px !important;
}

h2 {
    font-size: 25px !important;
}

h3 {
    font-size: 22px !important;
}

h4 {
    font-size: 20px !important;
}

h5 {
    font-size: 18px !important;
}

h6 {
    font-size: 16px !important;
}

p {
    font-size: 14px !important;
}