#typeMsg {
    width: 90%;
    height: 38px;
}

.badge.pill {
    border-radius: 2rem;
}

.username-bubble {
    color :rgb(7, 129, 160);
}

.text-grey {
    color: grey;

}

.chat-box-bg {
    /* border-color: grey !important; */
    background-color: #e7e4d8;
    border-radius: 25px;
}

.badge-warning {
    border-color: black;
    background-color: #fab526 !important;
    border-radius: 18px;
}

#typeMsg {
    border-radius: 15px;
}