@import '../../App';

.navbar {
    background-color: $primary;
}

.navbar-brand {
    margin-left: 30px;
    color: $light !important;
    font-size: 40px !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand a:hover {
    color: $highlight !important;
}

.cross-icon {
    font-size: 40px;
}

a:hover {
    text-decoration: none;
}

.nav-menu {
    background-color: $primary;
    width: 240px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: $light;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: rgb(13, 131, 131);
    color: $light;
    margin-left: 0;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100%;
    height: 10%;
}

span {
    margin-left: 16px;
}
