@import '../../App';

.navbar-brand {
    margin-left: 30px;
    color: $light !important;
    font-size: $navbar-brand !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand a:hover {
    color: $selected important;
}

.login {
    font-size: $navbar-item;
    margin-right: 40px;
}

