$selected: rgb(15, 102, 102);
$modal-high-bg: rgb(36, 138, 138);

// Bootstrap
$theme-colors: (
  "primary": rgb(135, 189, 189),
  "secondary": rgb(228, 176, 81),
  "success": rgb(107, 177, 107),
  "danger": rgb(168, 39, 39),
  "warning": rgb(255, 115, 0),
  "light": white
);