@import 'styles/color';
@import 'styles/font';
@import 'styles/size';
@import 'node_modules/bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover {
    color: $light !important;
    text-decoration: none !important;
}

.add-left-margin {
    padding-left: $side-navbar-width;
    transition: 450ms;
}
