@import '../../App';

.navbar {
    background-color: $primary;
}

.cross-icon {
    font-size: 40px;
}

.nav-menu {
    background-color: teal;
    width: $sidebar-width;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 60px;
}

.nav-text a {
    color: $light;
    font-size: $sidebar-text;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: rgb(13, 131, 131);
    color: $light;
    margin-left: 0;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100%;
    height: 10%;
}

span {
    margin-left: 16px;
}
