$selected: rgb(15, 102, 102);
$modal-high-bg: rgb(36, 138, 138);

// Bootstrap
$theme-colors: (
  "primary": rgb(36, 138, 138),
  "secondary": rgb(209, 169, 94),
  "success": rgb(107, 177, 107),
  "danger": rgb(168, 39, 39),
  "warning": rgb(255, 115, 0),
  "light": white
);